.chartContainer {
  position: relative;
  margin: auto;
  height: 95%;
  width: 100%;
  background-color: white;
  }
  
  .noDatMessageContainer {
    margin: auto;
    padding: 10px;
  }

  .chart
{
    position: relative;
    margin: auto;
    height: 90%;
    width: 95%;
 
}